:root {
    --space-indigo: #22223bff;
    --dusty-grape: #4a4e69ff;
    --lilac-ash: #9a8c98ff;
    --almond-silk: #c9ada7ff;
    --parchment: #f2e9e4ff;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.main-aside {
  grid-area: aside;
}
.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "aside"
    "footer";
}

@media (width >= 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "aside content"
      "footer      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (width >= 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content aside"
      "nav    content aside"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}


body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--space-indigo);
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: bold;
    padding: 0.75em;
}

h2 {
    background: var(--parchment);
    border-radius: 7px;
    display:inline-block;
    margin: 2px 0;
    padding: 0.75em;
    text-align: center;
}

a {
    color: var(--dusty-grape);
    font-weight: bold;
    text-decoration: 2px dotted underline var(--space-indigo);
}

nav ul, aside ul{
    padding: 0;
    gap: 0.5rem;
    margin: 0 0;
}


nav ul li, aside ul li{
  list-style: none;
  margin: 2px 0;
}

main, section, nav section, aside section {
    background: #fff;
    border-radius: 7px;
    padding: 0.5em;
}

main, nav, aside {
    align-self:start;
}



.banner {
    object-fit: contain;
    max-width: 100%;
    height:auto;
    display: block;
    border-radius: 7px;
}

nav section, aside section, main article {
    margin-bottom: 5px; 
}

nav section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


aside section {
    text-align: center;
    ul li p {
        margin: 0 0 0.5rem 0;
    }
}
aside section h2 {display: block;}
aside section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    li img {
        border-radius: 7px;
    }

}


main article h2 {display:block;}


footer {
    text-align: center;
}
