/* colours */
:root {
    --space-indigo: #22223bff;
    --dusty-grape: #4a4e69ff;
    --lilac-ash: #9a8c98ff;
    --almond-silk: #c9ada7ff;
    --parchment: #f2e9e4ff;
}

/* headings */
h1, h2, h3 {
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: bold;
    padding: 0.75em;
}

h2 {
    background: var(--parchment);
    border-radius: 7px;
    display:inline-block;
    margin: 2px 0;
    padding: 0.75em;
    text-align: center;
}


/* links */
a {
    color: var(--dusty-grape);
    font-weight: bold;
    text-decoration: 2px dotted underline var(--space-indigo);
}

/* images */
img {
    border-radius: 7px;
}


/* list items */
ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 2px 0;
}

/* grid stuff */
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.main-aside {
  grid-area: aside;
}
.main-footer {
  grid-area: footer;
}

.main-wrapper, .content-wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "aside"
    "footer";
}

/* grid layout for header, nav, content, aside and footer */
@media (width >= 500px) {
  .main-wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "aside content"
      "footer      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (width >= 700px) {
  .main-wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content aside"
      "nav    content aside"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}

/* grid layout for header, nav, content, and footer */
@media (width >= 500px) {
  .content-wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content"
      "footer      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (width >= 700px) {
  .content-wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content content"
      "nav    content content"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}

/* header */ 
.banner {
    object-fit: contain;
    max-width: 100%;
    height:auto;
    display: block;
    border-radius: 7px;
}

/* body */
body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--space-indigo);
}


 main, section, nav section, aside section {
    background: #fff;
    border-radius: 7px;
    padding: 0.5em;
}

main, nav, aside {
    align-self:start;
}

main {
    padding: 1em;
}

main article {
    clear: both;
    display: block;
    width: 100%;
}

nav section, aside section, main article {
    margin-bottom: 5px; 
    h2 {
        display: block;
    }
}


/* nav */
nav ul, aside ul{
    padding: 0;
    gap: 0.5rem;
    margin: 0 0;
}

nav section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* aside */
aside section {
    text-align: center;
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* footer */
footer {
    text-align: center;
    a {
        color: var(--almond-silk);
    }
}



/* quote */
div:has(> blockquote) {
  background-color: #ededed;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: right;
}

/* figure */
.push-left {
    display: block;
    float:left;
    clear: both;
    padding: 10px;
    max-width:400px;
}


/* center elements side by side centered */
.center-vertical {
    display:flex;
    align-items: center;
    gap: 15px;
}


/* details and summary boxes */
details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

